:root 
{
    --mango-yellow: #FFD572;
}

html, body 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    background: radial-gradient(circle at top left, #5B361E 0, #141414 30%);
    background-color: #141414;
    min-height: 100vh;
    scrollbar-width: none;
}

::-webkit-scrollbar 
{
    display: none; /* For Chrome, Safari, and Opera */
}

header 
{
    padding: 1em;
    text-align: center;
}

main 
{
    padding: 0 10vmin;
    max-height: 100vh;
}

footer
{
    color: #c6b49d;
}

.temp-center
{
    margin: auto;
    padding-top: 25vh;
    width: 50%;
}

.temp-bottom3
{
    margin: auto;
    padding-bottom: 25vh;
    width: 50%;
}

.box
{
    border-radius: 5px;
    border: 2px solid #604c2a;

}

